@model List<LessonBooking>


<!DOCTYPE html>
<html>
<head>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/stylelog.css" rel="stylesheet" />
    <style>

       
    </style>
</head>
<body>

    <h2>All the lessons that already had been booked</h2>

    <div class="cont">

    
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Telephone number</th>
            <th>Place</th>
            <th>Time</th>
        </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <h4>@Html.DisplayFor(m => item.name )</h4>
                </td>
                <td>
                    @Html.DisplayFor(m => item.mobilnummber)
                </td>
                <td>
                    @Html.DisplayFor(m => item.place)
                </td>
                <td>
                    @Html.DisplayFor(m => item.time)
                </td>
            </tr>
        }
    </table>
        <a asp-action="createBooking" asp-controller="schLesson">click here to scheduall a new lesson</a>
    </div>
    





</body>
</html>
