body {
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    height: 70%;
    padding-left: 150px;
    min-height: 80vh;
    display: flex;
    align-items: center;
    background-image: url('../imeges/gearbg5.jpg');
    background-size: cover;
    color: rgb(225, 215, 15);
}

.createBooking {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 90px;
    font-size: 25px;
    display: flex;
    text-align: center;
    margin-top: 100px;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn9 {
    background-color: rgb(148, 50, 150);
    font-size: 1.1em;
    font-weight: 400;
    display: inline-block;
    padding: 4px 15px;
    border-radius: 10px;
    transition: 0.6s ease;
}

    #btn9:hover {
        transform: scale(1.1);
    }

.btn7 a {
    color: rgb(225, 215, 15);
    text-decoration: none;
    font-size: 23px;
    font-weight: 500;
    padding-left: 20px;
}

    .btn7 a:hover {
        color: rgb(226, 43, 116);
    }
