body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;

  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  color: rgb(225, 215, 15);

  margin: 8px;
  border: none;
  cursor: pointer;

  background-color: rgb(148, 50, 150);
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 20px;
  transition: 0.4s ease;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 70px;
  height: 70px;
}

.container {
  padding: 20px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 2% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.createBooking {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 90px;
    font-size: 25px;
    display: flex;
    text-align: center;
    margin-top: 100px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../imeges/666.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#bioclass {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: url('../imeges/gearpic.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: rgb(216, 204, 214);
    font-size: 20px;
    font-weight: 700;
    transition: opacity 0.25s;
}


.favbandclass {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: url('../imeges/gearbg5.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: rgb(216, 204, 214);
    font-size: 20px;
    font-weight: 700;
    transition: opacity 0.25s;
}

/* css for the table */
tr, th {
    border-bottom: 1px solid #ddd;
    background-color: rgb(225, 215, 15);
    color: white;
}
    tr:hover {
        background-color: red;
    }




/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

